body{
    background-color: #61B7C5;
}

.main{
    background-color: #61B7C5;
    height: 750px;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo{    
    border: solid #707070 3px;
    width: 255px;
    height: 255px;
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-right: 2%;
}

#style{
    font-size: 40px;
    font-family: "Bauhaus 93";
    color: #707070;
}

.m2{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B59737;
    height: 80px;
}
