body{
    background-color: #61B7C5;
}

.main{
    background-color: #61B7C5;
    height: 750px;
}

.footer{
    background-color: #B59737;
    height: 80px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.style{
    font-size: 40px;
    font-family: "Bauhaus 93";
    color: #707070;
}

#logo{
    border: solid #707070 3px;
}

#lnslink{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    justify-content: first baseline;
    margin-right: 5%;
}

.align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#lnslink2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 500px;
    align-content: center;
    justify-content: first baseline;
    margin-right: 5%;
}

#login{
    margin-right: 30px;
}

.m2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.style2{
    font-size: 40px;
    font-family: "Bauhaus 93";
    color: #707070;
}

.logolink{
    width: 325px;
    height: 350px;
    margin-top: 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.style3{
    font-size: 40px;
    font-family: "Bauhaus 93";
    color: #707070;
}

@media only screen and (max-width: 2560px) {

    .main{
        background-color: #61B7C5;
        height: 980px;
    }

    .m2{
        margin-top: 100px;
    }

    .style_5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
    }
    

}

@media only screen and (max-width: 1440px){

    .m2{
        margin-top: 100px;
    }

    .style_5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
    }

}

@media only screen and (max-width: 1024px){

    .style3 {
        font-size: 30px;
        font-family: "Bauhaus 93";
        color: #707070;
        margin-top: 20px;
    } 

    .style_5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
    }

    .m2{
        margin-top: 100px;
    }

}

@media only screen and (max-width: 768px){

    .main{
        background-color: #61B7C5;
        height: 1300px;
    }

    .style3 {
        font-size: 30px;
        font-family: "Bauhaus 93";
        color: #707070;
    }

    .style_5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-content: start;
        background-color: #B59737;
        height: 150px;
    }
}

@media only screen and (max-width: 425px){

    .main{
        background-color: #61B7C5;
        height: 1900px;
    }

    .head{
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        align-items: center;
    }

    #lnslink{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .style3 {
        font-size: 30px;
        font-family: "Bauhaus 93";
        color: #707070;
    }



    .footer {
        display: flex;
        flex-direction: column;
        align-content: start;
        background-color: #B59737;
        height: 200px;
        margin-top: 110%;
    }

}

@media only screen and (max-width: 325px){

    .main{
        background-color: #61B7C5;
        height: 1900px;
    }

    .head{
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        align-items: center;
    }

    #lnslink{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    .style3 {
        font-size: 20px;
        font-family: "Bauhaus 93";
        color: #707070;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-content: start;
        background-color: #B59737;
        height: 190px;
    }

}