body{
    display: flex;
    flex-wrap: nowrap;
}

.left{
    height: 1110px;
}

#logo{
    width: 100%;
    height: 100%;
}

.right{
    height: 1110px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbackground{
    width: 509px;
    height: 862px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: solid #5E634F 3px;  
    height: 862px;  
    background: #6F9DA4;
}

#title{
    font-size: 100px;
    font-family: "Bauhaus 93";
    color: #676356;
}

.input{
    width: 397px;
    height: 69px;
    font-size: 30px;
    font-family: "Bauhaus 93";
    color: #676356;
    border-radius: 9px;
    border-color: #707070;
    border: 1px; 
}

#username{
    width: 397px;
    height: 69px;
    font-size: 30px;
    font-family: "Bauhaus 93";
    color: #676356;
    border-radius: 9px;
    border-color: #707070;
    border: 1px;
}

#password{
    width: 397px;
    height: 69px;
    font-size: 30px;
    font-family: "Bauhaus 93";
    color: #676356;
    border-radius: 9px;
    border-color: #707070;
    border: 1px;
}

#button{
    width: 184px;
    height: 62px;
    border-radius: 31px;
    border-color: #707070;
    border: 1px;
    font-size: 40px;
    font-family: "Bauhaus 93";
    color: #676356;

    cursor: pointer;
}

.style{
    font-size: 40px;
    font-family: "Bauhaus 93";
    color: #676356;
}

#fp{
    font-size: 30px;
    font-family: "Bauhaus 93";
    color: #676356;
}

@media only screen and (max-width: 1440px){
    
    .left{
        height: 1050px;
    }

    #logo{
        width: 100%;
        height: 100%;
    }

    .right{
        height: 1050px;
    }

}

@media only screen and (max-width: 2560px){

        
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .right{
        height: 1050px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .left{
        height: 600px;
        width: 600px;
        border: solid #707070 2px;
    }
}

@media only screen and (max-width: 1440px ) {
    
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .right{
        height: 1050px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .left{
        height: 400px;
        width: 400px;
        border: solid #707070 2px;
    }

}

@media only screen and (max-width: 1024px) {

    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .left{
        height: 250px;
        width: 250px;
        border: solid #707070 2px;
        margin-top: 2%;
    }

}

@media only screen and (max-width: 425px) {

    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .left{
        height: 400px;
        width: 400px;
        border: solid #707070 2px;
        margin-top: 5%;
    }

}